@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Kanit:wght@500&family=Noto+Sans+Thai:wght@800&family=Pixelify+Sans&family=Young+Serif&display=swap');








body {font-family: 'Young Serif', serif;}
#inorder {font-family: 'Pixelify Sans', cursive;}
#handorder{font-family: 'Young Serif', serif}
