.name {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: 'Kanit', sans-serif;
}

.name img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn1 {
  float: right;
  /* margin-right: 400px;
  margin-top: -32px; */
  width: 100px;
  height: 30px;
  font-size: 12pt;

  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.btn1:hover {
  background-color: #3e8e41
}

.btn1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.btn2 {
  float: right;
  /* margin-right: 400px;
  margin-top: -32px; */
  width: 100px;
  height: 30px;
  font-size: 12pt;

  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.btn2:hover {
  background-color: #3e8e41
}

.btn2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
#btnlike {
  /* float: right;
  margin-right: 400px;
  margin-top: -32px;
  width: 100px;
  height: 30px;
  font-size: 12pt; */

  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(0, 80, 199);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #a09e9e;

}

#btnlike:hover {
  background-color: #1997e0
}

#btnlike:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
* {
  box-sizing: border-box;
}

body{
  padding: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* h3 {margin-left: 1550px;} */

/* Responsive Web Design */

h2#handorder {
  /* background-color: lightgrey; */
  padding: 20px;
}
@media screen and (min-width: 600px) {
  h2#handorder{
    font-size: 30pt;
    
  }
  h2#inorder{
    font-size: 30pt;
    
  }
  h3#inorder{
    font-size: 30pt;
    
  }
}


@media screen and (max-width: 600px) {
  h2#handorder{
    font-size: 8pt;
  }
  h2#inorder{
    font-size: 8pt; 
  }
  h3#inorder{
    font-size: 8pt;
  }
}

h2#inorder {
  /* background-color: lightgrey; */
  padding: 20px;
}
