.name {background-image: url("https://media.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif");width: 100%; 
    height: auto; background-size: cover; background-position: center; background-repeat: no-repeat;}

footer{
    padding: 5px;
    text-align: center;
    color: rgb(255, 254, 254);
    background-color: #333;   
}
footer svg {
    flex-shrink: 0;
    width: 30px;
    min-height: 34px;
    margin-right: 12px;
    transition: 0.3s;
    padding-right: 12px;
    margin-right: 10px;
  }
  a {
    margin: 1em;
    display: inline-block;
  }
  a i {
    vertical-align: middle;
  }
  a.flex {
    display: inline-flex;
  }